html {
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

canvas {
    padding: 0;
    margin: 0;
    line-height: 0;
}

audio {
    position:fixed;
    bottom:50px;
    left:50%;
    margin-left: -200px;
    width: 400px;
}

#fullscreen {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}
